<div class="pomodoro" [ngClass]="{alarm:isSoundingAlarm}">

    <div class="row text-center">
        <h1>Pomodoro Timer</h1>
        <div class="col-sm-3 col-sm-offset-3">
            <app-spinner [duration]="sessionLen" (changed)="changeSessionLength($event)" [name]="'Session Length'"></app-spinner>
        </div>
        <div class="col-sm-3">
            <app-spinner [duration]="breakLen" (changed)="changeBreakLength($event)" [name]="'Break Length'"></app-spinner>
        </div>

        <div class="time-display">{{timeRemaining | durationClock}}</div>

        <button (click)="toggleRunning()" [ngClass]="{'btn-success':running, 'btn-warning':!running}" class="btn">Go!</button>

        <button (click)="soundAlarm()" class="btn btn-warning">Test Alarm!</button>

    </div>

</div>